@import "../../mainStyle/responsive.scss";

.artworkDetail {

    padding: 3em;
    height: 70%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    color: aliceblue;

    // --------------- RESPONSIVE DESIGN ----------------
    @include lg {
        width: 100%;
        padding: 5em;
    }

    @include md {
        height: 70%;
        width: 100%;
        padding: 3em 1em;
    }

    // --------------- POSITION ABSOLUTE IMG ----------------
    .fullImg {
        position: absolute;
        background-color: black;
        height: 100vh;
        width: 100%;
        z-index: 1000;

        .close-btn {
            width: 1em;
            top: 1em;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            background-color: transparent;
            color: white;
            font-size: 1.9rem;
            cursor: pointer;
            border: none;
        }

        .close-btn:hover {
            color: rgb(194, 165, 70);
        }

        img {
            object-fit: contain;
            height: 80%;
            width: 80%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
        }
    }

    // --------------- RETURN TO GALLERY BTN ----------------
    .backToGalleryBtn {
        align-self: flex-start;
        background-color: rgb(194, 165, 70);
        padding: .7em 1em;
        border: none;
        letter-spacing: .1rem;
        font-weight: 600;
        font-size: large;
        cursor: pointer;
        border-radius: 4px;
        transition: 0.5s ease all;

        @include md {
            align-self: center;
        }
    }

    .backToGalleryBtn:hover, .backToGalleryBtn:focus {
        background-color: rgb(241, 170, 17);
    }

    // --------------- ARTWORK WRAPPER ----------------
    .artworkWrapper {
        min-height: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5em;
        padding: 3em auto;

        .errorWrapper {
            h1 {
                color: #fff;
                font-size: 2rem;
                text-align: center;
                padding: 1em;
    
                @include sm {
                    font-size: 1rem;
                }
    
            }
        }

        @include md {
            flex-direction: column;
            gap: 3em;
            padding: 3em auto;
            width: 90%;
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: lightblue black;
            scroll-behavior: smooth;

            &.error {
                flex-direction: row;
                justify-content: center;
            }
        }

         // --------------- ARTWORK TEXT ----------------
        .artworkText {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 2em;
            letter-spacing: 1px;
            max-height: 100%;
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: lightblue black;
            scroll-behavior: smooth;

            @include md {
                width: 80%;
                text-align: center;
                overflow-y: visible;
                max-height: 100%;
            }

            h1 {
                color: rgb(194, 165, 70);
                border-bottom: 1px solid rgb(194, 165, 70);
                padding-bottom: 1em;

                @include sm {
                    border: none;
                }
            }

            h2 {

                @include sm {
                    border-bottom: 1px solid lightblue;
                    border-top: 1px solid lightblue;
                    padding: 1em 0;
                    }
                }

            p {
                border-bottom: 1px solid lightblue;
                padding-bottom: 2em;

                @include md {
                    border: none;
                    text-align: center;
                }
            }
        }

         // --------------- ARTWORK IMG ----------------
        .artworkImg {
            flex: 1;
            background-color: black;
            text-align: center;
            border: 9px solid lightblue;
            max-width: 90%;
            width: 20em;
            height: 25em;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
            }
        }
    }
}